

header {
    width: 100%;
    height: 80px;
    background-color: gray;
}

header > div {
    max-width: 1000px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    margin-left: 85%;
}

header ul li {
    margin: 0 20px;
}

.company {
    margin: 0 50px
}

  h2 {
    color: white;
    font-size: 40px;
    
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.title {
    background-color: black;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title div {
    color: rgb(236, 236, 61);
    font-size: 4.5em;
    font-weight: 600;
}

.content {
    
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.content #three-square {
    background-color: white;
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    
}

.content #three-square div {
    background-color: rgb(139, 240, 240);
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.content #four-rec {
    background-color: red;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#four-rec div {
    background-color: orange;
    height: px;
    width: 45%;
}